.productRow{
	display: block;
	overflow: hidden;
}
#productImg{
	float: left;
	margin-right: 20px; 
	width: 45%;
}
#prodDesc{
	margin-top: 0;
	display: inline-block;
}
#productDesc{
	width: 50%;
}
.outofstock{
	color: red;
}
#bootstrap-overrides .left-block{
	padding: 5px; height: 238px; overflow: hidden;
}

#registrationForm{
	float: left;
	width: 40%;
}
#registrationForm .customer-login{
	margin: 0;
	padding: 0;
	width: 100%;
}

#loginForm{
	float: left;
	width: 50%;
}
#loginForm .customer-login{
	padding: 0;
	width: 80%;
}
#searchButton{
	background: #FF857C;
	border: #FF857C;
}
#accContainer{
	margin-top: 0px; 
	float: left; 
	width: 80%
}
#accSpan{
	width:87%; 
	display: block;
	margin: auto;
	margin-top: 20px;
}
#accProducts{
	margin-left: 50px;
}
#column-right{
	float: left; width: 20%;
	overflow: hidden;
}
#editUser{
	float: left; width: 80%;
}
#editUserLabel{
	float: left; width: 20%;
}
#editUserInput{
	width: 80%;
}
@media (max-width: 1000px) {
	li.home a{
		float: left;
	}
	.header-center .navbar-logo{
		width: 50%;
	}

	#sosearchpro{
		width: 50%;
		margin-left: 0  !important;
	}

	#content{
		margin:0;
	}

	.header-bottom .header-bottom-right{
		width: 0;
	}

	#registrationForm{
		float: none;
		width: 60%;
		display: block;
		margin: 0 auto;
	}

	#loginForm{
		float: none;
		width: 60%;
		display: block;
		margin: 0 auto 40px;
	}
	#loginForm .customer-login{
		width: 100%;
	}
}

@media (max-width: 390px) {
	#sosearchpro{
		padding-top:0 !important;
	}
	#content{
		width: 100% !important;
	}
	footer .collapseb-block{
		margin-right: 3% !important;
	}

	footer .box-extras{
		width: 100% !important;
		float: none !important;
	}

	.footer-container .footer-top .collapsed-block .share-icon ul li{
		width: 20%;
	}
	#productImg{
		float:none;
		margin: 0 auto;
		display: block;
	}
	#productDesc{
		width: 100%;
		margin: 0 auto;
		display: block;
	}
	
	#accContainer{
		float: none;
		width: 100%;
		padding: 0;
	}
	#accSpan{
		width: 90%;
		display: block;
		margin: 15px auto;
	}
	#accProducts{
		padding: 0;
	}
	#column-right{
		float: none;
		width: 55%;
		display: block!important;
		margin: 0 auto;
	}
	#editUser{
		width: 100%;
		margin-bottom: 30px;
		float: none;
	}
	#editUserLabel{
		width: 100%;
		float: none;
	}
	#editUserInput{
		width: 100%;
	}
	#editUserButton{
		float: left;
		margin: 0 5%;
	}
}